@import "tailwindcss";

:root {
  --orange: #FF3D00;
  --base: #FFFFFF;
  --noir: #0A0908;
  --secondary: #5C5C5C;
  --contour-jour-calendrier: #0A0908;
  --contour-jour-calendrier-opacity: rgba(10, 9, 8, 0.35);
  --separation-grise: #666666;
  --separation-grise-opacity: rgba(102, 102, 102, 0.19);
  --font-family: system-ui, "Inter", sans-serif;
}

.dark {
  --orange: #FF3D00;
  --base: #0A0908;
  --noir: #FFFFFF;
  --secondary: #5C5C5C;
  --contour-jour-calendrier: #FFFFFF;
  --contour-jour-calendrier-opacity: rgba(255, 255, 255, 0.35);
  --separation-grise: #666666;
  --separation-grise-opacity: rgba(102, 102, 102, 0.19);
  --font-family: system-ui, "Inter", sans-serif;
}

body {
  background-color: var(--base);
  font-family: var(--font-family);
  color: var(--noir);
}